@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: rgb(31 41 55);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0D0D; 
    --foreground: #E5E5E5; 
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.prose {
  line-height: 1.75;
}

.prose p {
  margin-bottom: 1em;
}